
/* FONT FAMILY */

@font-face {
  font-family: bellefair;
  src: url(/src/public_site/font/Bellefair-Regular.ttf);
}
@font-face {
  font-family: barlowCondensed;
  src: url(/src/public_site/font/BarlowCondensed-Regular.ttf);
}
@font-face {
  font-family: barlow;
  src: url(/src/public_site/font/Barlow-Regular.ttf);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

/* BASIC ELEMENTS */

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  background-color: var(--background);
  color: var(--font-color);
  overflow: auto;
}
section {
  display: flex;
  margin: 0 12.5%;
}
section article {
  width: 50%;
  position: relative;
}
section .aside {
  width: fit-content;
  margin-left: auto;
}
section article .content {
  display: flex;
  margin-top: 150px;
}
section article .item {
  margin-left: 100px;
}
section article .title {
  font-size: 28px;
  font-family: barlowCondensed;
  font-weight: bold;
  letter-spacing: 4.75px;
  color: rgba(255, 255, 255, 0.25)
}
section article .title h5 {
  display: inline-block;
  color: white;
  font-weight: normal;
  margin-left: 10px;
}
h1, h2, h3, h4 {
  font-family: bellefair;
  font-weight: normal;
}
h1 {
  font-size: 150px;
  font-weight: normal;
}
h2 {
  font-size: 100px;
}
h3 {
  font-size: 56px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
  font-family: barlowCondensed;
  letter-spacing: 4.75px;
  color: var(--secondary)
}
p {
  font-size: 18px;
  font-family: barlow;
}
a {
  font-size: 16px;
  font-family: barlowCondensed;
}
.subheading1 {
  font-size: 28px;
  font-family: bellefair;
}
.subheading2 {
  font-size: 14px;
  font-family: barlowCondensed;
  letter-spacing: 2.35px;
}
.line {
  background-color: #383B4B;
  height: 1px;
  width: 95%;
}
.facts-box {
  display: flex;
}
.facts-box .fact {
  width: 50%;
}
.switch {
  display: flex;
  justify-content: space-between;
  width: 132px;
}
.switch .option {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.1744;
}
.switch .option:hover {
  cursor: pointer;
  opacity: 0.501;
}
.switch .option.active {
  opacity: 1;
}
nav.circles {
  background: none;
  backdrop-filter: none;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  gap: 35px;
}
nav.circles .option {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  position: relative;
}
nav.circles .option:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}
nav.circles .option p {
  font-size: 32px;
  font-family: bellefair;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: fit-content;
  text-align: center;
  letter-spacing: 0;
  color: var(--font-color);
}
nav.circles .option.active {
  background-color: white;
}
nav.circles .option.active p {
  color: var(--background);
}
